:root {
  /* Color */
  --white-color: #ffffff;
  --black-color: #000000;
  --blue-color: #0099dd;
  --red-color: #ff0000;
  --bg-grey-color: #f9f9f9;
  --light-grey-color: #ececec;
  --dark-grey-color: #888888;

  /* Size */
  --spacing: 12px;
  --spacing-small: 6px;
  --avatar-size: 36px;

  /* Font Size */
  --font-large: 20px;
  --font-regular: 16px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;

  --font-regular: "regular";
}

.healthData_body {
  margin-top: 5%;
  margin-left: 10%;
  padding-right: 10px;
}

.healthData_List {
  margin-top: 20px;
  width: 82%;
  display: flex;
  justify-content: space-between;
}

.healthData_symptom {
  display: block;
}
