@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
}

body {
  height: 100vh;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin: 10% 10%;
}

.cards .Card-layout .Card-container .title {
  text-decoration-line: none;
}

.cards .Card-layout {
  transition: all 0.7s;
}

.cards .Card-layout:hover {
  transform: translateY(-30px);
}
