:root {
  /* Color */
  --white-color: #ffffff;
  --black-color: #000000;
  --blue-color: #0099dd;
  --red-color: #ff0000;
  --bg-grey-color: #f9f9f9;
  --light-grey-color: #ececec;
  --dark-grey-color: #888888;

  /* Size */
  --spacing: 12px;
  --spacing-small: 6px;
  --avatar-size: 36px;

  /* Font Size */
  --font-large: 20px;
  --font-regular: 16px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;

  --font-regular: "regular";
}

.chatbot_container {
  width: 650px;
  height: 960px;
  padding: 15px;
  border-radius: 15px;

  background-color: var(--bg-grey-color);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);

  position: relative;
}

.chatbot_response {
  display: flex;
  align-items: flex-start;
}

.chatbot_response img {
  margin-top: 5px;
}

.response_message {
  width: 650px;
  margin-left: 20px;
}

#allyeozoong {
  color: var(--dark-grey-color);
  font-size: 16px;
}

.response_content {
  width: 400px;
  height: auto;
  background-color: var(--light-grey-color);
  padding: 18px 20px;
  border-radius: 15px;
  margin-top: 5px;
}

#showGraph {
  width: 380px;
  height: 35px;
  margin-top: 7px;

  background-color: var(--blue-color);
  color: white;
  font-size: 14px;
  border: 0;
  border-radius: 40px;
}

#chatbot_sendmessage {
  width: 380px;

  background-color: #023059;
  color: white;

  padding: 10px;
  border-radius: 15px;

  position: absolute;
  right: 0;
  margin: 20px 30px;
}

#chatbot_inputArea {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  margin-left: 6px;
}

#chatbot_inputArea textarea {
  width: 540px;
  height: 40px;
  border: 0;
  background-color: var(--light-grey-color);
  border-radius: 40px;
  flex: 1;
  padding: 10px 20px;
}

#chatbot_inputArea textarea:focus {
  outline: none;
}

#chatbot_inputArea button {
  width: 60px;
  height: 40px;
  border: 0;
  background-color: var(--blue-color);
  color: white;
  border-radius: 50px;
  margin-left: 5px;
}

#chatbot_sendList {
  list-style-type: none;
}

/* .stat_container {
    width: 650px;
    height: 310px;
  
    padding: 10px;
    border-radius: 15px;
  
    background-color: var(--bg-grey-color);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
  }
  
  .title {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
  }
  
  .content {
    display: flex;
  }
  
  .graph {
    width: 350px;
    height: 300px;
  }
  
  .description {
    width: 250px;
    margin-top: 90px;
    font-size: 16px;
  }
  
  #statData {
    font-weight: bold;
    color: var(--blue-color);
  }  */
